.menu__back{
    position: absolute;
    width: 500vw;
    height: 500vh;
    background-color: rgb(53,139,156) ;
    border-radius: 2000px;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    top: -50%;
    left: -190%;
    transform: translate(-50%, -50%);
}
.menu{
    position: fixed;
    background:none;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    overflow: hidden;
    transform: translate(-50%, -50%);
    
    .menu__link{
      margin-top: 300px;
      width: 100%;
      background: rgb(53,139,156);
      animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

      li{
          position: relative;
          background-color: white;
          width: 15%;
          max-width: 60px;
          padding: 15px 10px 15px 10px;
          border-radius:500px ;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px #10183d solid;
          cursor: pointer; 
          margin: 10px; 
      }
      a{
          position: relative;
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;
          
      }
      .menu__svg{
          width: 70%;
          background: none;
          

      }
      li:hover span {
          color: white;
      }
      li:hover .footer__svg path {
          fill: white;
        }
      li:hover{
          background-color: #10183d;
      }
      span{
          background: none;
          color: #10183d;
          font-weight: bold;
      }
      
  }
   .menu__nav{
        color: white;
        background:none; ;
        margin-top: 100px;
        margin-left: 20px;
        ul{
            background:none; ;
        }
        li{
            background:none;
            border: none;
            animation: bounce-in-left 1.5s both;
            animation-delay: 0.5s;
        }
        a{
            font-size: 3rem;
            font-family: 'Sigmar', cursive;
            background:none; ;
            
        }
       
   }
   .githubIcon{
        background-color: white;
        width: 100%;
        text-align: center;
        
       

    }
    a{
        background-color: white;
        text-align: center;
        width: 60%;
        
    }
    .linkElement1{
        background-color: white;
        width: 100px;
        border: #10183d 3px solid;
        border-radius: 200px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: bounce-in-fwd 1.1s both;
        animation-delay: 0.6s;
       

    }
    .listLink{
        margin-top: 100px;
        background:none;
        
    }
   a:hover{
    color: #F49534;
   }

    
}
.menu__bar{
  background: none;
}
.fa-bars{
    margin: 10px;
    position: relative;
    font-size: 1.5em;
    color: black;
    margin-right: 15px;
    background-color: white;
    text-align: center;
    border-radius: 500px;
    padding: 13px 15px;
    z-index: 999;
    border: 3px solid #10183d;
    cursor: pointer;
}
.fa-xmark{
    margin: 10px;
    position: relative;
    font-size: 1.5em;
    color: black;
    margin-right: 15px;
    background-color: white;
    text-align: center;
    border-radius: 500px;
    padding: 13px 17px;
    z-index: 999;
    border: 3px solid #10183d;
    cursor: pointer;
}
.fa-xmark-back{
    position: absolute;
    padding: 28px;
    border-radius: 50%;
    z-index: 5;
    right: 10px;
    top: 15px;
}
.fa-xmark:hover{
    transform: translateX(4px) translateY(4px);
    
}
.fa-bars-back{
    background-color:rgb(53,139,156) ;
    position: absolute;
    padding: 28px;
    border-radius: 50%;
    z-index: 5;
    right: 10px;
    top: 15px;
}
.fa-bars:hover{
    transform: translateX(4px) translateY(4px);
    
}


/*ANIMATION*/

@keyframes slide-in-bottom {
  0% {
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up-center {
    0% {
              transform: scale(0);
              transform-origin: 100% 0%;
    }
    100% {
              transform: scale(1);
              transform-origin: 100% 0%;
    }
  }
  
  
  @keyframes bounce-in-left {
    0% {
      
              transform: translateX(-200px);
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      
              transform: translateX(50px);

              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      
              transform: translateX(-28px);
              animation-timing-function: ease-in;
    }
    72% {
      
              transform: translateX(20px);

              animation-timing-function: ease-out;
    }
    81% {
      
              transform: translateX(-10px);
              animation-timing-function: ease-in;
    }
    90% {
      
              transform: translateX(0);

              animation-timing-function: ease-out;
    }
    95% {
      
              transform: translateX(-8px);
              animation-timing-function: ease-in;
    }
    100% {
              transform: translateX(0);

              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  /*RESPONCIVE*/
 
  @media screen and (min-width: 768px) {
   .menu__back{
    animation: scale-up-center 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    left: -200%;
   }
  }
  @media screen and (min-width: 1024px) {
    .menu__bar{
      display: none;
    }
 }