.projectCard{
    width: 96%;
    background-color:rgb(53,139,156) ;
    height: 50vh;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 40px;
    
    .cadre{
        width:80% ;
        height: 50%;
        background-color: rgb(240, 219, 199);
        align-items: center;
        box-shadow: 2px 2px 10px black;
        border: 4mm ridge rgb(148, 61, 14) ;
        img{
            width: 80%;
            border: 1px solid black;
            box-shadow: 4px 4px 2px black;
        }
    }
    .cartelBack{
        position: absolute;
        width: 100vw;
        height: 400vh;
        background-color: rgb(0, 0, 0);
        z-index: 2;
        opacity: 0.6;
        display: none;
    }
    .cartel:hover + .cartelBack {
        display: block;
    }
    .cartel{
        position: relative;
        background-color: white;
        margin-top: 30px;
        color: black;
        width: 35%;
        z-index: 5;
        
        cursor: pointer;
        box-shadow: 2px 2px 10px black;
        border: 2mm ridge rgba(241, 238, 236, 0.6);
        transition: transform 0.6s;
        .cartel__entete{
                width: 100%;
                background: none;
                display: flex;
                justify-content: space-between;
                a{
                    background: none;
                }
            .cartelLink{
                margin-top: 5px;
                margin-right: 10px;
                background: none;
                width: 10%;
                
            }
            svg{
                width: 100%;
                background: none;
            }
        }
        h2{
            background: none;
            color: black;
            font-size: 0.5rem;
            padding: 10px;
            text-align: center;
        }
        p{
            background: none;
            color: black;
            font-size: 0.4rem;
            padding: 4px;
        }
    }
    .cartel:hover{
        transform: scale(2);
    }
    
}
.display--none{
    display: none;
}
@media screen and (min-width: 1024px) {
   .projectCard{
        width: 65%;
        height: 40%;
        margin-right: 50px;
        
        .cadre{
            padding: 50px;
           
        }
   }
}

@media screen and (min-width: 767px) {
    .projectCard{
         width: 65%;
         
         padding: 20px;
         
    }
 }

