.footer{
    position: relative;
    background-color: #10183d;
    height: 150px;
    width: 100%;
    background-color: rgb(53,139,156);
    border-bottom: rgb(255, 106, 0) 2px solid;
    box-shadow: 1px 0px 3px #F49534;
    margin-top: 200px;
    
}


.custom-shape-divider-top-1683890878 {
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1683890878 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    background-color: rgb(53,139,156);
}

.custom-shape-divider-top-1683890878 .shape-fill {
    fill: #10183d;
    
}